* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  color: white;
}

body {
  font-family: "Montserrat";
  font-size: 1rem;
  line-height: 1;
}

a {
  text-decoration: none;
}

.content {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
  box-shadow: 0 15px 0 -5px #CACADB, 0 45px 0 -20px #E7E7F2;
}
.content .splash {
  width: 90%;
  margin: auto;
}
.content .splash .header {
  padding-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.content .splash .header .logo__title {
  font-style: normal;
}
.content .splash .header .span-logo {
  color: #F0145A;
}
.content .splash .header .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content .splash .header .info .frame,
.content .splash .header .info .nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.content .splash .slogan {
  display: flex;
}
.content .splash .slogan .slogan__title {
  padding: 29% 2% 40% 24%;
  z-index: 1;
  font-size: 2.4rem;
}
.content .splash .slogan .image__item--primary {
  position: absolute;
  right: 49%;
  top: 0%;
}
.content .splash .slogan .image__item--secondary {
  position: absolute;
  right: 30.4%;
  top: 59%;
}
.content .menu-dropdown {
  padding-left: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.content .menu-dropdown .menu-dropdown__item {
  width: 80%;
  margin: 0 4%;
  line-height: 46px;
  font-size: 2rem;
  color: #B3B3BA;
  text-align: end;
}
.content .menu-dropdown .menu-dropdown__item #const {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.content .menu-dropdown .menu-dropdown__item li {
  list-style-type: none;
}
.content .menu-dropdown .menu-dropdown__text {
  margin-left: 4%;
  text-align: start;
}
.content .menu-dropdown .menu-dropdown__text h4 {
  padding: 4% 0;
  font-size: 1.5rem;
}
.content .menu-dropdown .menu-dropdown__text p {
  width: 70%;
}
.content .services {
  padding: 3% 0 0 5%;
}
.content .services .services__subtitle {
  color: #24A3FF;
}
.content .services .services__title {
  padding: 1% 0 2% 0;
  font-size: 1.5rem;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.content .services .box {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
}
.content .services .box .box__item {
  width: 33%;
  padding: 2% 5% 2% 0;
}
.content .services .box .box__item .box__subtitle {
  padding: 5% 0;
  color: #24A3FF;
}

.main {
  padding: 5%;
}
.main .teamleader {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  background-color: #F5F5FA;
  border-radius: 12px;
}
.main .teamleader .teamleader__text {
  padding: 2% 0 0 2%;
}
.main .teamleader .teamleader__text .subtitle {
  color: #24A3FF;
}
.main .teamleader .teamleader__text .clon {
  padding: 1% 9% 3% 0;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 2.3rem;
}
.main .teamleader .teamleader__text .name,
.main .teamleader .teamleader__text .job {
  color: #B3B3BA;
}
.main .teamleader .teamleader__text .name {
  padding: 2% 0;
}
.main .buttons {
  text-align: center;
}
.main .buttons .prev,
.main .buttons .next,
.main .buttons .pause {
  width: 16px;
  height: 16px;
  background-color: rgb(36, 163, 255);
  border-radius: 24px;
}

.clients {
  color: rgb(50, 50, 100);
}
.clients .clients__block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-collapse: collapse;
  vertical-align: middle;
}/*# sourceMappingURL=style.css.map */